@font-face{
    font-family: "Visby Round";
    src: url("../Webfont/VisbyRoundCF-Bold.woff");

}

body{
    background-color:#E5E5E5!important;
    font-family: "Visby Round", sans-serif!important;
}

.text{
    color: white;
    text-align: justify;
}

/* Eliminar los estilos de lista*/
ul {
    list-style: none;
    margin: 0;
}

/********************************
 Navegacion
**********************************/
.menu {
    margin-top: 40px;
}

.icono{
    margin-left: 40px;
}

.icono > div:last-child {
    margin-top: -50px;
}

.icono > div > span{
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin: 1px;
    padding: 5px;
}

.nav > li > a {
    color: white;
    font-size: 25px;
}

/*item carrusel*/
.carousel-item > img{
    image-rendering: optimizeSpeed;
}
/*************************************
Elementos internos
**************************************/
.visibility{
    z-index: 100;
    height: 100%;
}
/* Enjoy! descripcion*/
.visibility:first-child > div > h1{
    font-size: 100px;
    color: #612999;
    font-weight: bolder;
}

/* Tag de info */
.visibility > div:nth-child(2){
    margin-bottom: 200px;
}

buttom.search {
    background-color: #612999;
    color: #ffffff;
    height: 50px;
    text-align: center;
}

.tag:nth-child(1){
    background-color: rgba(0, 128, 0, 0.4);
}

.tag:nth-child(2){
    background-color: rgba(228, 169, 20, 0.4);
}

.tag:nth-child(3){
    background-color: rgba(128, 0, 128, 0.4);
}

.tag-title {
    font-weight: bolder;
    font-size: 15px;
    color: white;
    padding-right: 0;
}

.tag-list {
    font-size: 12px;
    color: white;
}

.tag-des > p {
    color: white;
    font-size: 15px;
    text-align: center;
    height: 45px;
    padding: 10px 0;
}

.tag-precio {
    font-weight: bolder;
    color: white;
    font-size: 20px;
    text-align: center;
}

.tag:nth-child(1) div > span:first-child p {
    background-color: rgba(0, 128, 0);
}

.tag:nth-child(2) div > span:first-child p {
    background-color: rgb(228, 170, 20);
}

.tag:nth-child(3) div > span:first-child p {
    background-color: rgba(128, 0, 128);
}

/* social links */
.lateral-bar > div {
    width: 100%;
    display: block;
}

.lateral-bar > div:first-child {
    margin-bottom: 100px;
 }

nav.social-bar ul > li > a {
    color: white;
}

.carousel-indicators {
    display: inline-block!important;
}

ol.carousel-indicators > li{
    padding: 2px;
    width: 4px!important;
}


/****************************************
    Cuerpo de la paguina
*****************************************/
/*Menu de categorias*/
.nav-cat > li > a{
    color: #612999!important;
}

.nav-cat > li > a.active{
    background-color:#612999!important;
    color: #ffffff!important;
}

.btn-light{
    background-color: #dfdfdf!important;
    color: #612999!important;
}

/* Seccion de cards*/
h1{
  color: #612999;  
}

/* Card*/
div.card {
    border-radius: 10%;
    background-color: white;
}
/* container que limitara la imagen*/
div.img-container{
    overflow: hidden;
    border-radius: 10%;
    height: 200px;
}

.favor {
    top: 20px;
    left: 170px;
    z-index: 100;
}

.favor > span {
    background-color: white;
    color: #F51264;
}

div.img-container > img{
    height: 40vh;
    z-index: 0;
}

div.card-body > div {
    background-color: rgb(255, 255, 255);
}

div.card-body > div > h5 {
    font-size: 18px;
}

p.card-text {
    color:#C8C8C8;
    text-align: justify;
    font-size: 12px;;
}

.card-bottom > div:first-child {
    color: #612999;
    font-size: 20px;
}

.card-bottom > div:last-child > button {
    background-color: #612999;
    color: white;
    font-size: 15px;
}